.detail-story_breb ol {
    background-color: #000000 !important
}

.footer {
    background-color: #000000 !important
}

.main-content__text {
    color: #fff !important
}

.main-content__text p {
    color: #fff !important
}

.text-center {
    color: #fff !important
}

.wrapper {
    background-color: #000000 !important
}